DataBases/DatabaseXMLBasics/DatabaseXMLBasics/students.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:students" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="students">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="birth-date" type="xs:string" />
        <xs:element name="phone" type="xs:unsignedInt" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="course" type="xs:unsignedByte" />
        <xs:element name="specialty" type="xs:string" />
        <xs:element name="faculty-number" type="xs:string" />
        <xs:element name="exams">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="exam">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="name" type="xs:string" />
                      <xs:element name="tutor" type="xs:string" />
                      <xs:element name="score" type="xs:string" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="enrollmentInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="date" type="xs:string" />
              <xs:element name="examScore" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="teacherEndorsements">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="endorsement" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>